 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Age</label>
            <input type="hidden" name="id" value="Age">
            <input type="text" name="Age" value="21" placeholder="21">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Sex</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="Sex" value="M" >
                <label for="radio-2" class="radio-label">M</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="Sex" value="F" >
                <label for="radio-3" class="radio-label">F</label>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="text-light">ChestPainType</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="ChestPainType" value="ATA" >
                <label for="radio-4" class="radio-label">ATA</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="ChestPainType" value="NAP" >
                <label for="radio-5" class="radio-label">NAP</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="ChestPainType" value="AYS" >
                <label for="radio-6" class="radio-label">AYS</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="ChestPainType" value="TA" >
                <label for="radio-7" class="radio-label">TA</label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="name" class="text-light">RestingBP</label>
            <!-- <input type="hidden" name="RestingBP" value="RestingBP"> -->
            <input type="text" name="RestingBP" value="130" placeholder="130">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Cholesterol</label>
            <!-- <input type="hidden" name="Cholesterol" value="Cholesterol"> -->
            <input type="text" name="Cholesterol" value="180" placeholder="180">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">FastingBS</label>
            <!-- <input type="hidden" name="FastingBS" value="FastingBS"> -->
            <input type="text" name="FastingBS" value="0" placeholder="0">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">RestingECG</label>
            <!-- <input type="hidden" name="RestingECG" value="RestingECG"> -->
            <input type="text" name="RestingECG" value="Normal" placeholder="Normal">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">MaxHR</label>
            <!-- <input type="hidden" name="MaxHR" value="MaxHR"> -->
            <input type="text" name="MaxHR" value="110" placeholder="110">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">ExerciseAngina</label>
            <!-- <input type="hidden" name="ExerciseAngina" value="ExerciseAngina"> -->
            <input type="text" name="ExerciseAngina" value="T" placeholder="T">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Oldpeak</label>
            <!-- <input type="hidden" name="Oldpeak" value="Oldpeak"> -->
            <input type="text" name="Oldpeak" value="1" placeholder="1">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">ST_Slope</label>
            <!-- <input type="hidden" name="ST_Slope" value="ST_Slope"> -->
            <input type="text" name="ST_Slope" value="Up" placeholder="Up">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">HeartDisease</label>
            <!-- <input type="hidden" name="HeartDisease" value="HeartDisease"> -->
            <input type="text" name="HeartDisease" value="1" placeholder="1">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>